# Ignore virtual environment folder
env/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore system files
.DS_Store  # For macOS users
Thumbs.db  # For Windows users

#Ignore idea folders
.idea